:root {
  --font-size: 30px;
  --padding-small: 8px;
  --padding-large: 14px;
}

* {
  box-sizing: border-box; /*research*/
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url("images/background.png");
}

ul {
  list-style-type: none;
  overflow: hidden;
}

li {
  float: left;
  font-size: var(--font-size);
}

li a {
  display: block;
  color: #5a4b42;
  text-align: center;
  padding: var(--padding-large);
  font-size: var(--font-size);
}

li a:hover {
  background-color: grey;
  opacity: 0.3;
  font-size: var(--font-size);
}

.active {
  color: black;
  font-size: var(--font-size);
}

h1 {
  text-align: center;
  padding: var(--padding-large);
}

.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: var(--padding-small);
  align-content: space-evenly;
}

.grid-container > div {
  background-color: #ab998d;
  color: #000;
  padding: var(--padding-small);
  font-size: 30px;
  text-align: center;
}

.card {
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: var(--padding-small);
  text-align: center;
  background-color: white;
  width: 100%;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.img-card {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card h2 {
  font-size: 26px;
  padding: var(--padding-small);
}

.card h3,
a {
  font-size: 20px;
  padding: var(--padding-small);
}

a.button {
  color: #000;
  text-decoration: none;
  padding: var(--padding-small);
  border-radius: 8px;
  display: inline-block;
  font-size: 18px;
}

a.button:hover {
  background-color: #ebebe3;
}

.text {
  padding-top: 228px;
}

.join-message {
  text-align: center;
  font-size: 22px;
  color: #5b1a0a;
  padding: var(--padding-large);
}

#complete {
  text-align: center;
  padding: var(--padding-large);
}

.complete-button {
  text-align: center;
  background-color: #a48d7d;
  padding: var(--padding-large);
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  font-size: 18px;
}

a.complete-button:hover {
  background-color: #ebebe3;
}

footer {
  text-align: center;
}
