/* It is created for specifir patterns in register.html */

:root {
  --font-size: 30px;
  --padding-small: 8px;
  --padding-large: 14px;
}

* {
  box-sizing: border-box; /*research*/
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #000;
  list-style-type: none;
}

.text {
  padding-top: 228px;
}

.join-message {
  font-size: 22px;
  color: #5b1a0a;
  padding: var(--padding-large);
}

#complete {
  padding: var(--padding-large);
}

.complete-button {
  background-color: #a48d7d;
  padding: var(--padding-large);
  border-radius: 8px;
  display: inline-block;
  font-size: 18px;
}

a.complete-button:hover {
  background-color: #ebebe3;
}